<center> <h2> DS 3000 - Fall 2021</h2> </center>
<center> <h3> DS Report </h3> </center>

<center> <h3>Predicting Start Up Success</h3> </center>
<center><h4>Shaun Khundker, Terry Chen, Lauren MacIver</h4></center>

<hr style="height:2px; border:none; color:black; background-color:black;">

#### Executive Summary:

Add your summary here (100-150 words)

Provide a brief summary of your project. After reading this executive summary, your readers should have a rough understanding of what you did in this project. You can think of this summary in terms of the four sections of the report and write 1-2 sentences describing each section.

<hr style="height:2px; border:none; color:black; background-color:black;">

## Outline
1. <a href='#1'>INTRODUCTION</a>
2. <a href='#2'>METHOD</a>
3. <a href='#3'>RESULTS</a>
4. <a href='#4'>DISCUSSION</a>

<a id="1"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 1. INTRODUCTION



<h4>Problem Statement</h4>

Investors aim to identify unicorn companies with high valuations among a large pool of investment options. Venture capitalism has historically been focused on sourcing relationships with founders, conducting due diligence, and often basing investment decisions on intuition and experience rather than data. With the increased availability of start up information, we aim to develop a concrete model to support investors in determining the likelihood of start up success. We hope to gain a greater understanding of the key considerations of due diligence and how to best leverage these data points to create an accurate predictive model. 

<h4>Significance of the Problem</h4>

Historically, failure is a costly but effective way to train a venture capitalist. With increased access to data surrounding early stage companies, leveraging machine learning models in venture capital is a powerful mechanism to supplement an intuition based industry. The insights from this project would allow for an increased rate of identification of potential unicorn companies that ultimately improve product offerings to consumers. When coupled with proper data and human intuition, machine learning models in venture capital can challenge biases and improve  accuracy in predicting start-up potential. Many firms are already shifting to a data driven approach and have seen successful returns in response. However, the majority of firms utilize these datasets as search engines to locate potential deals leaving a demand for machine learning models that identify key indicators of potential unicorn companies in early stage investments. 







<h4>Questions</h4>

Given the aforementioned problem and its importance, we set out to tackle the following questions: 

* Can we predict whether a startup suceeds (is acquired) or fails (closes down) based on some characteristics of the startup?
* Is k-Nearest Neighbors better than Support Vector Machines and Decision Trees in predicting start up success based on performance accuracy?
* Which features most greatly influence the outcome variable? Are there a subset of features that are strongly correlated to the target?
* Will feature selection improve overall model performance?

<h4>Hypotheses</h4>

Null: The success of a startup and its funding features have no relationship (H1,0). 

Alternative: The success of a startup and its funding features have a relationship (H1,1). 

Null: The success of a startup and the market that it is in have no relationship (H2, 0). 

Alternative: The success of a startup and the market that it is in have a relationship (H2, 1).

<a id="2"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 2. METHOD

### 2.1. Data Acquisition
The dataset was obtained using [Kaggle](https://www.kaggle.com/arindam235/startup-investments-crunchbase) and contains information intially pulled from Crunchbase, an information platform for public and private company data. The dataset contains 54294 samples of startups and 30 variables as described below. Status is the outcome variable.

| **Variable** | **Description** |  

| --- | --- | --- |

| name | name of startup |

| market | industry of startup |

| funding_total | total funding raised by startup in USD |

| state_code | the state in which the startup is located |

| funding_rounds | number of funding rounds |

| founded_at | date (year/month/date) the startup was founded|

| first_funding_at | date (year/month/date) the startup got its first funding |

| last_funding_at | date (year/month/date) the startup got its last funding |

| seed | funding raised during seed round in USD |

| venture | total venture funding amount |

| undisclosed | undisclosed funding in USD |

| convertible_note | funding raised using convertible notes in USD |

| debt_financing | total debt financing amount in USD |

| angel | funding raised by angles in USD |

| grant | funding raised through grants in USD |

| private_equity | funding raised by private equity in USD |

| post_ipo_equity |amount of funding raised after going public in USD|

| post_ipo_debt |amount of debt financing after going public in USD |

| secondary_market |amount of funding raised through secondary market in USD |

| product_crowdfunding |amount of funding raised through product crowdfunding in USD|

| round A |amount of funding raised from round A in USD |

| round B |amount of funding raised from round B in USD |

| round C |amount of funding raised from round C in USD |

| round D |amount of funding raised from round D in USD |

| round E |amount of funding raised from round E in USD |

| round F |amount of funding raised from round F in USD |

| round G |amount of funding raised from round G in USD |

| round H |amount of funding raised from round H in USD |

| *status* | *whether the startup is acquired or closed* |

### 2.2. Data Analysis
* Describe your predictive model in greater detail. What outcome variable are you going to predict from what feature variables? Why do you think those are important predictors?
* Describe why this is a supervised ML problem and identify the sub-category of the learning task (e.g. classification).
* What machine learning algorithms are you going to use? **Why?** You should list at least three algorithms. Provide a brief description of each algorithm and explain why you think they are appropriate for your data.

As mentioned above, this project aims to predict start up status (closed or acquired). The remaining 29 feature variables are important predictors as they provide additional information on aspects that can play a significant role in a startup's ability to succeed such as funding totals and different funding rounds, market, and state of origin. 

This is a supervised machine learning problem as we will be developing a predictive model based on both input data (labeled start up feature variables) and output data (start up status). Our project is tackling a classification problem because we are predicting which startups will succeed given a set of labeled feature variables like the amount of funding raised. Our target label, whether the startups succeed or not, is binary and categorical and therefore a classification problem. 

We are planning to try k-Nearest Neighbors, Linear SVC and Decision Trees. The K-Nearest Neighbors algorithm is one of the simplest machine learning models and has very few hyperparamters to tune(K value and distance function). The algorithm relies on the underlying assumption that items in close proximity to one another are similar and leverages distance to classify new samples. Linear Support Vector Classification attempts to draw a hyperplane in which the support vector margins are as large as possible. The support vectors are the most useful data points because they are the ones most likely to be incorrectly classified. Part of the reasoning behind including SVM was because it can handle outliers better than most other models. On the other hand, decision trees are rule based classifiers that assume that initially, at the root, all the training data is examined. The data is continually split until all data points are isolated to a class. We included decision trees as one of our models because it is highly effective in handling colinearity which is a possibility we wanted to be mindful of in our dataset. We are going to try all these because we do not have reason to think that one is better than the other; however, we have chosen to omit the Naive Bayes algorithm because features are not all equally important.

TODO Predictive model

<a id="3"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 3. RESULTS

### 3.1. Data Wrangling
In this section, you should do the following and explain why you are doing what you are doing. For each, you should include your code in a cell, followed by a sample output. For instance, if you are one-hot encoding one of your variables, you should first describe what it is and why you are doing it. You should then include your code in a cell, and the sample output should be available as well.

Do at least three of the following:
* Perform simple data cleaning (delete extra columns, deal with NA values, etc.)
* Perform data wrangling to get your features and target values (e.g., grouping your dataframe by columns, applying functions to format dataframes, etc.)
* Preprocess your variables (e.g., scaling/transforming feature variables to normalize them)
* Perform feature extraction (dummy variables, new features from existing features, etc.)

In [37]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/shaunkh/DSFinalProject/main/investments_VC.csv", encoding= 'unicode_escape')
df

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data Cleaning
In this section we remove unnecessary columns to that will not contribute to model accuracy, dropna samples, and rename columns for simplicity. These modifications will ensure that there are relevant values for each of our feature variables that can be used in training and testing the model. The scope of this project is only startups within the United States.

In [38]:
# clean data, drop NA values for our target variable
df = df.dropna(subset=['status'], axis = 0)

# Drop unecessary columns
df = df.drop(['permalink', 'homepage_url', 'category_list', 'founded_month', 'founded_quarter','founded_year',
             'founded_at', 'first_funding_at', 'last_funding_at'], axis = 1)

# Limit data to only USA
df = df[df["country_code"] == "USA"]

# Keep only rows that are 'acquired' or 'closed'
df = df[df["status"] != "operating"]

# Rename columns for ease of use
df = df.rename({' market ': 'market', ' funding_total_usd ': 'funding_total_usd'}, axis=1)

# can we move this to the data cleaning section?
df = df.drop(["country_code", "region", "city"], axis=1)
df = df.dropna(subset=['state_code'], axis = 0)
df = df.dropna(subset=['market'], axis = 0)

df = df.astype({'market': 'str', 'name': 'str', 'status': 'str', 'state_code': 'str'})

df

,name,market,funding_total_usd,status,state_code,funding_rounds,seed,venture,equity_crowdfunding,undisclosed,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,#waywire,News,"17,50,000",acquired,NY,1.0,1750000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1000memories,Curated Web,"25,35,000",acquired,CA,2.0,15000.0,2520000.0,0.0,0.0,...,0.0,0.0,2520000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,100Plus,Analytics,"12,50,000",acquired,CA,2.0,750000.0,500000.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,10BestThings,Curated Web,"50,000",closed,OH,1.0,50000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,12Society,E-Commerce,-,acquired,CA,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49394,Zuujit,E-Commerce,"27,00,000",closed,CA,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49395,zuuka!,Apps,-,acquired,CA,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49400,Zvents,Entertainment,"5,52,00,000",acquired,CA,4.0,200000.0,55000000.0,0.0,0.0,...,0.0,0.0,7000000.0,24000000.0,24000000.0,0.0,0.0,0.0,0.0,0.0
49414,Zykis,Automotive,"8,00,000",closed,CA,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49419,Zymetis,Biotechnology,"22,57,464",closed,MD,2.0,0.0,757464.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Dataframe Formatting
Non-numeric values are converted into integers. Since funding values are initally stored as strings with commas we must strip additional space and remove the commas by appling the defined function below so that these values can be converted into integers and later used in the model. Additionally, the target variable Status, is converted to 1 (acquired) or 0 (closed).

In [39]:
def formatFunding(x):
    val = x.strip()
    val = val.replace(",", "")
    return val

# Format to numbers
df["funding_total_usd"] = df["funding_total_usd"].apply(lambda x: formatFunding(x))
df = df[df["funding_total_usd"] != "-"]
df = df.astype({'funding_total_usd': 'int64'})

df[["market", "name", "status", "state_code"]] = df[["market", "name", "status", "state_code"]].apply(lambda x: x.str.strip())
df

,name,market,funding_total_usd,status,state_code,funding_rounds,seed,venture,equity_crowdfunding,undisclosed,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,#waywire,News,1750000,acquired,NY,1.0,1750000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1000memories,Curated Web,2535000,acquired,CA,2.0,15000.0,2520000.0,0.0,0.0,...,0.0,0.0,2520000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,100Plus,Analytics,1250000,acquired,CA,2.0,750000.0,500000.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,10BestThings,Curated Web,50000,closed,OH,1.0,50000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,170 Systems,Software,14000000,acquired,MA,1.0,0.0,14000000.0,0.0,0.0,...,0.0,0.0,14000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49372,Zume Life,iPhone,1700000,closed,CA,2.0,700000.0,1000000.0,0.0,0.0,...,0.0,0.0,1000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49394,Zuujit,E-Commerce,2700000,closed,CA,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49400,Zvents,Entertainment,55200000,acquired,CA,4.0,200000.0,55000000.0,0.0,0.0,...,0.0,0.0,7000000.0,24000000.0,24000000.0,0.0,0.0,0.0,0.0,0.0
49414,Zykis,Automotive,800000,closed,CA,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49419,Zymetis,Biotechnology,2257464,closed,MD,2.0,0.0,757464.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
# create a copy of the original dataframe to preseve associations of the categorical label, Status
df_n = df.copy(deep=True)
df_n

,name,market,funding_total_usd,status,state_code,funding_rounds,seed,venture,equity_crowdfunding,undisclosed,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,#waywire,News,1750000,acquired,NY,1.0,1750000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1000memories,Curated Web,2535000,acquired,CA,2.0,15000.0,2520000.0,0.0,0.0,...,0.0,0.0,2520000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,100Plus,Analytics,1250000,acquired,CA,2.0,750000.0,500000.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,10BestThings,Curated Web,50000,closed,OH,1.0,50000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,170 Systems,Software,14000000,acquired,MA,1.0,0.0,14000000.0,0.0,0.0,...,0.0,0.0,14000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49372,Zume Life,iPhone,1700000,closed,CA,2.0,700000.0,1000000.0,0.0,0.0,...,0.0,0.0,1000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49394,Zuujit,E-Commerce,2700000,closed,CA,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49400,Zvents,Entertainment,55200000,acquired,CA,4.0,200000.0,55000000.0,0.0,0.0,...,0.0,0.0,7000000.0,24000000.0,24000000.0,0.0,0.0,0.0,0.0,0.0
49414,Zykis,Automotive,800000,closed,CA,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49419,Zymetis,Biotechnology,2257464,closed,MD,2.0,0.0,757464.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
# convert status values to 0 (closed) and 1 (acquired) 
df["status"] = df["status"].apply(lambda x: 1 if (x == "acquired") else 0)
df

,name,market,funding_total_usd,status,state_code,funding_rounds,seed,venture,equity_crowdfunding,undisclosed,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,#waywire,News,1750000,1,NY,1.0,1750000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1000memories,Curated Web,2535000,1,CA,2.0,15000.0,2520000.0,0.0,0.0,...,0.0,0.0,2520000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,100Plus,Analytics,1250000,1,CA,2.0,750000.0,500000.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,10BestThings,Curated Web,50000,0,OH,1.0,50000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,170 Systems,Software,14000000,1,MA,1.0,0.0,14000000.0,0.0,0.0,...,0.0,0.0,14000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49372,Zume Life,iPhone,1700000,0,CA,2.0,700000.0,1000000.0,0.0,0.0,...,0.0,0.0,1000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49394,Zuujit,E-Commerce,2700000,0,CA,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49400,Zvents,Entertainment,55200000,1,CA,4.0,200000.0,55000000.0,0.0,0.0,...,0.0,0.0,7000000.0,24000000.0,24000000.0,0.0,0.0,0.0,0.0,0.0
49414,Zykis,Automotive,800000,0,CA,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49419,Zymetis,Biotechnology,2257464,0,MD,2.0,0.0,757464.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Feature Extraction: One-Hot-Encoding
We leverage One-Hot Encoding to convert categorical variables into new features with 0 or 1 values so that they can be used in the model.

In [42]:
# grab non-numeric features that must be one-hot encoded
features = df.iloc[:, 1:5]
features = features.drop(["funding_total_usd", "status"], axis=1)
features

              market state_code
0               News         NY
20       Curated Web         CA
27         Analytics         CA
30       Curated Web         OH
62          Software         MA
...              ...        ...
49372         iPhone         CA
49394     E-Commerce         CA
49400  Entertainment         CA
49414     Automotive         CA
49419  Biotechnology         MD

[3687 rows x 2 columns]

In [43]:
# create a dataframe to hold all the complete dataset including one hot encoded variables. 
temp = df.copy(deep=True)
temp = pd.get_dummies(temp, columns=["market", "state_code"], prefix=["market", "state_code"])
temp

,name,funding_total_usd,status,funding_rounds,seed,venture,equity_crowdfunding,undisclosed,convertible_note,debt_financing,...,state_code_RI,state_code_SC,state_code_TN,state_code_TX,state_code_UT,state_code_VA,state_code_VT,state_code_WA,state_code_WI,state_code_WV
0,#waywire,1750000,1,1.0,1750000.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
20,1000memories,2535000,1,2.0,15000.0,2520000.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
27,100Plus,1250000,1,2.0,750000.0,500000.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
30,10BestThings,50000,0,1.0,50000.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
62,170 Systems,14000000,1,1.0,0.0,14000000.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49372,Zume Life,1700000,0,2.0,700000.0,1000000.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
49394,Zuujit,2700000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
49400,Zvents,55200000,1,4.0,200000.0,55000000.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
49414,Zykis,800000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
49419,Zymetis,2257464,0,2.0,0.0,757464.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
# create feature and target dataframes, removing the target variable from the feature df
features = temp.drop(["name", "status"], axis = 1)
target = df["status"]
target

0        1
20       1
27       1
30       0
62       1
        ..
49372    0
49394    0
49400    1
49414    0
49419    0
Name: status, Length: 3687, dtype: int64

### Preprocessing: MinMaxScaler

In [45]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

# preprocess using MinMaxScaler
def preprocessor(train, test):
    scaler = MinMaxScaler().fit(train)
    
    #scale testing and training sets
    X_train_scaled = scaler.transform(train)
    X_test_scaled = scaler.transform(test)

    return X_train_scaled, X_test_scaled

In [46]:
# split data into training and testing sets
def split_train_test(features, target):
    splits = train_test_split(features, target, random_state=3000)
    return splits

In [47]:
# split training and testing sets
X_train, X_test, y_train, y_test = split_train_test(features, target)

# process features
X_train_scaled, X_test_scaled = preprocessor(X_train, X_test)

In [48]:
X_train_scaled

array([[1.59482916e-02, 2.00000000e-01, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [6.31577610e-05, 0.00000000e+00, 4.00000000e-03, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.18340634e-04, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [5.10301950e-03, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [7.65484823e-03, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.59425500e-03, 0.00000000e+00, 1.00000000e-01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

### 3.2. Data Exploration
* Generate appropriate data visualizations for your key variables identified in the previous section
* You should have at least three visualizations (and at least two different visualization types)
* For each visualization provide an explanation regarding the variables involved and an interpretation of the graph. In other words, what does the graph represent?
* Insert your visualizations as images as well (upload the graph images to an online source, e.g. github or imgbb, and embed those into the cells in Jupyter Notebook, similar to HWs). This is a requirement.

In [49]:
import plotly.express as px
df_n

,name,market,funding_total_usd,status,state_code,funding_rounds,seed,venture,equity_crowdfunding,undisclosed,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,#waywire,News,1750000,acquired,NY,1.0,1750000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1000memories,Curated Web,2535000,acquired,CA,2.0,15000.0,2520000.0,0.0,0.0,...,0.0,0.0,2520000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,100Plus,Analytics,1250000,acquired,CA,2.0,750000.0,500000.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,10BestThings,Curated Web,50000,closed,OH,1.0,50000.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,170 Systems,Software,14000000,acquired,MA,1.0,0.0,14000000.0,0.0,0.0,...,0.0,0.0,14000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49372,Zume Life,iPhone,1700000,closed,CA,2.0,700000.0,1000000.0,0.0,0.0,...,0.0,0.0,1000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49394,Zuujit,E-Commerce,2700000,closed,CA,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49400,Zvents,Entertainment,55200000,acquired,CA,4.0,200000.0,55000000.0,0.0,0.0,...,0.0,0.0,7000000.0,24000000.0,24000000.0,0.0,0.0,0.0,0.0,0.0
49414,Zykis,Automotive,800000,closed,CA,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49419,Zymetis,Biotechnology,2257464,closed,MD,2.0,0.0,757464.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 3.3. Model Training
* For your machine learning question(s), use the Training, Validation, and Testing approach through GridSearch
* Apply machine learning algorithms (apply at least three different algorithms)
* Train your algorithms using your **training set**

* Evaluate the performance of your algorithms using appropriate evaluation metrics
    * Use at least two different metrics
    * Remember GridSearch will use cross-validation

* Is there any indication of overfitting/underfitting?

* Use one feature selection technique to select a subset of your original features and train your models with the selected featu/es as well (the idea is to see if you can achieve the same using a fewer number of features)

    * **Hint:** You can run your model with all your features and with your selected features, comparing the results (similar to the corresponding HW assignment).

#### RFE Feature Selection

In [88]:
def RFE_Selection(features, x_train, x_test, ytrain):
    feature_selection = RFE(DecisionTreeRegressor(random_state = 3000), n_features_to_select = 10)

    feature_selection.fit(X_train_scaled, ytrain)

    X_train_selected = feature_selection.transform(X_train_scaled)
    X_test_selected = feature_selection.transform(X_test_scaled)
    
    selected_features = [feature for feature, status in zip(features, feature_selection.get_support()) if status == True]
    print('Selected startup features:')
    for feature in selected_features:
        print('\t' + feature)

    return X_train_selected, X_test_selected, selected_features

# get selected features
X_train_selected, X_test_selected, selected_features = RFE_Selection(features, X_train_scaled, X_test_scaled, y_train)

Selected startup features:
	funding_total_usd
	funding_rounds
	seed
	venture
	debt_financing
	angel
	round_A
	round_B
	round_C
	state_code_CA

In [51]:
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
estimators = {
    'k-Nearest Neighbor': KNeighborsClassifier(), 
    'Support Vector Machine': LinearSVC(max_iter=1000000),
    'Decision Tree': DecisionTreeClassifier()}

# with selected features
for estimator, estimator_object in estimators.items():
    #fit scaled sets to model
    model = estimator_object.fit(X=X_train_selected, y=y_train)

    #prediction accuracy
    accuracy = model.score(X_test_selected, y_test)
    print("Prediction accuracy on the test data with", estimator, ":", format(accuracy*100, ".2f"))

Prediction accuracy on the test data with k-Nearest Neighbor : 72.23
Prediction accuracy on the test data with Support Vector Machine : 63.99
Prediction accuracy on the test data with Decision Tree : 66.49

In [52]:
# with scaled features
for estimator, estimator_object in estimators.items():
    #fit scaled sets to model
    model = estimator_object.fit(X=X_train_scaled, y=y_train)

    #prediction accuracy
    accuracy = model.score(X_test_scaled, y_test)
    print("Prediction accuracy on the test data with", estimator, ":", format(accuracy*100, ".2f"))

Prediction accuracy on the test data with k-Nearest Neighbor : 68.44
Prediction accuracy on the test data with Support Vector Machine : 66.81
Prediction accuracy on the test data with Decision Tree : 63.67

### Model metrics

In [91]:
#select a classifier
knn = KNeighborsClassifier()

#create the model by fitting the training data
knn.fit(X=X_train_selected, y=y_train)

#make predictions on the test set
predicted = knn.predict(X=X_test_selected)

expected = y_test

In [94]:
from sklearn.metrics import confusion_matrix
confusion = confusion_matrix(y_true=expected, y_pred=predicted)
print(confusion)

[[158 174]
 [ 82 508]]

In [95]:
from sklearn.metrics import classification_report
class_report = classification_report(y_true=expected, y_pred=predicted)
print(class_report)

              precision    recall  f1-score   support

           0       0.66      0.48      0.55       332
           1       0.74      0.86      0.80       590

    accuracy                           0.72       922
   macro avg       0.70      0.67      0.68       922
weighted avg       0.71      0.72      0.71       922

In [85]:
from sklearn.model_selection import GridSearchCV

param_grid = dict(n_neighbors=[1, 5, 10, 20, 50])

grid_search = GridSearchCV(KNeighborsClassifier(), param_grid, cv=5, scoring="accuracy")

# fit the grid search object on the training data (CV will be performed on this)
grid_search.fit(X=X_train_selected, y=y_train)

# this is the best performance during training
print("Best cross-validation score: ", grid_search.best_score_)

# result of grid search
print("Best parameters: ", grid_search.best_params_)

print("Training set score with best parameters: ", grid_search.score(X_train_selected, y_train))

# the performance of the best found parameters on the test set
print("Test set score with best parameters: ", grid_search.score(X_test_selected, y_test))

Best cross-validation score:  0.7464737793851718
Best parameters:  {'n_neighbors': 50}
Training set score with best parameters:  0.7515370705244123
Test set score with best parameters:  0.7125813449023861

### 3.4. Model Optimization
* Tune your models using hyperparameters appropriate for your algorithms
* Explain why you are doing this (e.g., to avoid overfitting, etc.)

In [86]:
#select a classifier and change parameters
knn = KNeighborsClassifier(n_neighbors = 50)
model = knn.fit(X=X_train_selected, y=y_train)

### 3.5. Model Testing
* Test your tuned algorithms using your **testing set**

In [87]:
accuracy = model.score(X_test_selected, y_test)
accuracy

0.7125813449023861

<a id="4"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

## 4. DISCUSSION
* Interpret your findings from 3.3, 3.4, and 3.5
    * Which algorithms did you compare?
    * Which algorithm(s) revealed best performance? With what parameters?
    * Which algorithm(s) should be used for your predictive model?
    * Based on your findings, can we use the features in your dataset to predict the outcome variable you identified using the algorithms you've applied? (It is okay if the answer is no. We're interested in the process, not the performance of the model.)

* Discuss the ethical implications of your project. Should your results be accepted at face value, why or why not? (e.g. any dataset bias or methodological issues?)

* End this section with a conclusion paragraph containing some pointers for future work
    * (e.g., get more data/features, perform another analysis, etc.)

We compared three algorithms:
1. kNN
2. Linear SVC
3. Decision Tree


The kNN algorithm had the best performance with n_neigbors at 50 based on the GridSearch and therefore should be used for our predictive model.

### Ethical Implications

### Future Work

<a id="5"></a>
<hr style="height:2px; border:none; color:black; background-color:black;">

### CONTRIBUTIONS
* Describe each team member's contributions to the report (who did what in each section)
* Remember this is a team effort!
* Each member of your team will later provide peer evaluation of other team members. Your final grade on the project will be based on those peer evaluations. A survey will be shared after the deadline for this deliverable.